/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{font-family: Arial;
	background-color: #181c3a;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%239C92AC' fill-opacity='0.22'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");100px, 100px 100px, 20px 20px, 20px 20px;
}

#masthead{  background-color: #92acab;
	color: black;
}

.container{
	color: white;

}

.navbar-header{
  	backgrond-color: #92acab;
	font-weight: bold;
}


footer{
	height: 40px;
	line-height: 40px;
	background-color: #eeeeee;
}
h1{
	text-align: center;
}

h2{
	color: white;
}

footer{
	background-color: #92acab;
}


.sidebar{
text-align: center;

}

.col-md-7{
	padding-top: 40px;
	border-style: solid;
  	border-width: 3px;
  	border-color: #cccccc;


}

.img-thumbnail{	margin-top: 30px;
	top-padding: 20px;

}

.col-md-5{
	margin-top: 30px;

padding-top: 40px;
	height: 200px;
	text-align: center;
	border-style: solid;
  	border-width: 3px;
  	border-color: #cccccc;


}

.social{
	margin-top: 30px;

}

.thumbnail {
    margin:0 auto;
    text-align:center;
}

.wrapper {
    text-align:center;
}